In [273]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

UnitLevels = [1, 2, 3, 4, 5]
UnitPool = [29, 22, 16, 12, 10]
NumUnits = [12, 12, 12, 9, 7]
totalPool = [29*12,22*12,16*12,9*12,7*10]

UnitShopProbabilities = [[1.00, 0.00, 0.00, 0.00, 0.00],
                         [1.00, 0.00, 0.00, 0.00, 0.00],
                         [0.75, 0.25, 0.00, 0.00, 0.00],
                         [0.60, 0.30, 0.10, 0.00, 0.00],
                         [0.40, 0.35, 0.20, 0.05, 0.00],
                         [0.25, 0.35, 0.30, 0.10, 0.00],
                         [0.19, 0.30, 0.35, 0.15, 0.01],
                         [0.14, 0.20, 0.35, 0.25, 0.06],
                         [0.10, 0.15, 0.25, 0.35, 0.15]]

In [274]:
def simulateNumShops(playerLevel, searchingForUnitLevel, unitStartCount, lookingFor, contested):
    
    
    currentUnits = unitStartCount
    numShopsSeen = 0
    
    selectedUnitProbabilities = UnitShopProbabilities[playerLevel-1]
    selectedUnit = selectedUnitProbabilities[searchingForUnitLevel-1]
    selectedUnitPool = UnitPool[searchingForUnitLevel - 1] - contested
    selectedTotalPool = totalPool[searchingForUnitLevel - 1]

    while currentUnits < lookingFor:
        numShopsSeen += 1
        count = 0
        
        for i in range(1,6):
            if random.random() < selectedUnit:
                count += 1
        
        for n in range(0,count):
            remainingUnits =  selectedUnitPool - currentUnits
            totalUnitPool = selectedTotalPool - currentUnits
            probabilityOfHit = remainingUnits / totalUnitPool
            
            if random.random() < probabilityOfHit:
                    currentUnits += 1

    return numShopsSeen

In [275]:
Iterations = 1000
LookingFor = 9
PlayerLevel = 5
SearchingForUnitLevel = 1
ncontested = [0,3,6,9,12,15,18]
meanlist =[]


def simulate(ncon):
    means=[]
    for row in range(0, 3):
        for col in range(0, 3):
            numShopsRequired = []
            UnitStartCount = row * 3 + col
            for n in range(Iterations):
                numShopsRequired.append(simulateNumShops(PlayerLevel, SearchingForUnitLevel, UnitStartCount, LookingFor, ncon))
            mean = np.mean(numShopsRequired)
            std = np.std(numShopsRequired)
            means.append(mean)
    meanlist.append(means)
    print(means)

In [276]:
for i in ncontested:
    simulate(i)

[62.749, 56.546, 50.94, 44.386, 36.874, 31.215, 23.481, 16.259, 8.352]
[70.753, 65.022, 58.699, 51.452, 44.265, 35.9, 26.964, 19.003, 9.607]
[83.51, 75.002, 67.984, 60.451, 51.362, 41.416, 32.601, 21.674, 12.01]
[99.798, 91.942, 82.126, 70.875, 60.863, 50.578, 40.563, 28.763, 14.721]
[123.829, 112.447, 103.368, 90.623, 82.029, 64.989, 50.993, 36.875, 20.453]
[168.776, 155.538, 141.945, 126.048, 110.302, 94.018, 73.032, 52.677, 29.243]
[261.378, 243.955, 225.446, 210.006, 186.236, 164.449, 132.537, 98.786, 55.466]

In [277]:
a = np.array(meanlist).T

In [278]:
df = pd.DataFrame()

for z,i in enumerate(a):
    diff =[]
    for n in range(0,6):
        diff.append(int(i[n+1]-i[n]))
    
    print(diff)
    df[z]= diff

[8, 12, 16, 24, 44, 92]
[8, 9, 16, 20, 43, 88]
[7, 9, 14, 21, 38, 83]
[7, 8, 10, 19, 35, 83]
[7, 7, 9, 21, 28, 75]
[4, 5, 9, 14, 29, 70]
[3, 5, 7, 10, 22, 59]
[2, 2, 7, 8, 15, 46]
[1, 2, 2, 5, 8, 26]

In [279]:
df["numContested"]= [0,3,6,9,12,15]

In [280]:
df.set_index("numContested")

               0   1   2   3   4   5   6   7   8
numContested
0              8   8   7   7   7   4   3   2   1
3             12   9   9   8   7   5   5   2   2
6             16  16  14  10   9   9   7   7   2
9             24  20  21  19  21  14  10   8   5
12            44  43  38  35  28  29  22  15   8
15            92  88  83  83  75  70  59  46  26